In [33]:
import pandas as pd
import numpy as np

## MultiIndexes: Hierarchical Indexing

In [121]:
header = pd.MultiIndex.from_arrays([['Semester1','Semester1','Semester2','Semester2'],['Maths','Science','Maths','Science']],names=['semester','subject'])
d=([[12,45,67,56],[78,89,45,67],[45,67,89,90],[67,44,56,55]])
 
 
df = pd.DataFrame(d,
                  index=['Alisa','Bobby','Cathrine','Jack'],
                  columns=header)
df

semester Semester1         Semester2
subject      Maths Science     Maths Science
Alisa           12      45        67      56
Bobby           78      89        45      67
Cathrine        45      67        89      90
Jack            67      44        56      55

In [124]:
header = pd.MultiIndex.from_product([['Semester1','Semester2'],['Maths','Science']],names=['semester','subject'])
d=([[12,45,67,56],[78,89,45,67],[45,67,89,90],[67,44,56,55]])
 
 
df = pd.DataFrame(d,
                  index=['Alisa','Bobby','Cathrine','Jack'],
                  columns=header)
df

semester Semester1         Semester2
subject      Maths Science     Maths Science
Alisa           12      45        67      56
Bobby           78      89        45      67
Cathrine        45      67        89      90
Jack            67      44        56      55

In [88]:
df = pd.read_csv('grades.csv',index_col=0)

In [89]:
df.index

Index(['Alisa', 'Alisa', 'Alisa', 'Alisa', 'Roberto', 'Roberto', 'Roberto',
       'Roberto', 'Sanjay', 'Sanjay', 'Sanjay', 'Sanjay', 'Anneke', 'Anneke',
       'Anneke', 'Anneke'],
      dtype='object', name='Name')

In [90]:
df.loc['Alisa']

      Semester  Subject  Grade
Name
Alisa   WN2018     MATH     67
Alisa   WN2018  SCIENCE     87
Alisa   FA2018     MATH     70
Alisa   FA2018  SCIENCE     88

In [91]:
df = pd.read_csv('grades.csv',index_col=[0,1,2])

In [92]:
df

                          Grade
Name    Semester Subject
Alisa   WN2018   MATH        67
                 SCIENCE     87
        FA2018   MATH        70
                 SCIENCE     88
Roberto WN2018   MATH        77
                 SCIENCE     88
        FA2018   MATH        66
                 SCIENCE     98
Sanjay  WN2018   MATH        70
                 SCIENCE     83
        FA2018   MATH        87
                 SCIENCE     84
Anneke  WN2018   MATH        55
                 SCIENCE     65
        FA2018   MATH        99
                 SCIENCE    100

In [93]:
df.index

MultiIndex(levels=[['Alisa', 'Anneke', 'Roberto', 'Sanjay'], ['FA2018', 'WN2018'], ['MATH', 'SCIENCE']],
           labels=[[0, 0, 0, 0, 2, 2, 2, 2, 3, 3, 3, 3, 1, 1, 1, 1], [1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0], [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]],
           names=['Name', 'Semester', 'Subject'])

In [120]:
df.unstack().unstack()

          Grade
Subject    MATH        SCIENCE
Semester FA2018 WN2018  FA2018 WN2018
Name
Alisa        70     67      88     87
Anneke       99     55     100     65
Roberto      66     77      98     88
Sanjay       87     70      84     83

In [45]:
df.index

RangeIndex(start=0, stop=16, step=1)

In [57]:
dfn = df.set_index(['Name'])

In [58]:
dfn.index

Index(['Alisa', 'Alisa', 'Alisa', 'Alisa', 'Roberto', 'Roberto', 'Roberto',
       'Roberto', 'Sanjay', 'Sanjay', 'Sanjay', 'Sanjay', 'Anneke', 'Anneke',
       'Anneke', 'Anneke'],
      dtype='object', name='Name')

In [54]:
dfn.unstack()

          Name
Semester  Alisa       WN2018
          Alisa       WN2018
          Alisa       FA2018
          Alisa       FA2018
          Roberto     WN2018
          Roberto     WN2018
          Roberto     FA2018
          Roberto     FA2018
          Sanjay      WN2018
          Sanjay      WN2018
          Sanjay      FA2018
          Sanjay      FA2018
          Anneke      WN2018
          Anneke      WN2018
          Anneke      FA2018
          Anneke      FA2018
Subject   Alisa         MATH
          Alisa      SCIENCE
          Alisa         MATH
          Alisa      SCIENCE
          Roberto       MATH
          Roberto    SCIENCE
          Roberto       MATH
          Roberto    SCIENCE
          Sanjay        MATH
          Sanjay     SCIENCE
          Sanjay        MATH
          Sanjay     SCIENCE
          Anneke        MATH
          Anneke     SCIENCE
          Anneke        MATH
          Anneke     SCIENCE
Grade     Alisa           67
          Alisa           87
          Alisa           67
          Alisa           87
          Roberto         67
          Roberto         87
          Roberto         67
          Roberto         87
          Sanjay          67
          Sanjay          87
          Sanjay          67
          Sanjay          87
          Anneke          67
          Anneke          87
          Anneke          67
          Anneke          87
dtype: object

In [40]:
df.unstack().unstack()

          subject  semester
Alisa     Maths    Semester1    12
                   Semester2    45
          Science  Semester1    78
                   Semester2    67
Bobby     Maths    Semester1    45
                   Semester2    67
          Science  Semester1    89
                   Semester2    44
Cathrine  Maths    Semester1    67
                   Semester2    89
          Science  Semester1    45
                   Semester2    56
Jack      Maths    Semester1    56
                   Semester2    90
          Science  Semester1    67
                   Semester2    55
dtype: int64

In [35]:
header = pd.MultiIndex.from_product([['Semester1','Semester2'],['Maths','Science']],names=['semester','subject'])
d=([[12,45,67,56],[78,89,45,67],[45,67,89,90],[67,44,56,55]])
 
 
df = pd.DataFrame(d,
                  index=['Alisa','Bobby','Cathrine','Jack'],
                  columns=header)
df

semester Semester1         Semester2
subject      Maths Science     Maths Science
Alisa           12      45        67      56
Bobby           78      89        45      67
Cathrine        45      67        89      90
Jack            67      44        56      55

In [28]:
arrays = [[1, 1, 2, 2], ['red', 'blue', 'red', 'blue']]

In [30]:
pd.MultiIndex.from_arrays(arrays,names = ['number','color'])

MultiIndex(levels=[[1, 2], ['blue', 'red']],
           labels=[[0, 0, 1, 1], [1, 0, 1, 0]],
           names=['number', 'color'])

In [22]:
dfu = df.unstack()

In [23]:
type(dfu)

pandas.core.series.Series

In [24]:
dfu.index

MultiIndex(levels=[['Semester1', 'Semester2'], ['Maths', 'Science'], ['Alisa', 'Bobby', 'Cathrine', 'Jack']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1], [0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1], [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]],
           names=['semester', 'subject', None])

In [25]:
df.unstack().unstack()

                   Alisa  Bobby  Cathrine  Jack
semester  subject
Semester1 Maths       12     78        45    67
          Science     45     89        67    44
Semester2 Maths       67     45        89    56
          Science     56     67        90    55

In [26]:
df.stack()

semester          Semester1  Semester2
         subject
Alisa    Maths           12         67
         Science         45         56
Bobby    Maths           78         45
         Science         89         67
Cathrine Maths           45         89
         Science         67         90
Jack     Maths           67         56
         Science         44         55

In [27]:
df

semester Semester1         Semester2
subject      Maths Science     Maths Science
Alisa           12      45        67      56
Bobby           78      89        45      67
Cathrine        45      67        89      90
Jack            67      44        56      55

In [18]:
df.stack(level=0).unstack()

             Maths             Science
         Semester1 Semester2 Semester1 Semester2
Alisa           12        67        45        56
Bobby           78        45        89        67
Cathrine        45        89        67        90
Jack            67        56        44        55

In [20]:
df.stack()

                  Semester1  Semester2
Alisa    Maths           12         67
         Science         45         56
Bobby    Maths           78         45
         Science         89         67
Cathrine Maths           45         89
         Science         67         90
Jack     Maths           67         56
         Science         44         55

In [1]:
import pandas as pd

In [18]:
a = pd.read_csv('data/avocado_eu.csv',sep=';',decimal=',',index_col=0)

In [19]:
a.to_csv('a.csv',index=False)

In [13]:
avocado = pd.read_csv('data/avocado_eu.csv',sep=';',decimal=',',index_col=['region','type','year'])

In [20]:
avocado = pd.read_csv('a.csv')

In [21]:
avocado.head()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [25]:
avocado.stack().head()

0  Date            2015-12-27
   AveragePrice          1.33
   Total Volume       64236.6
   4046               1036.74
   4225               54454.8
dtype: object

In [27]:
avocado.stack().reset_index().index

RangeIndex(start=0, stop=237237, step=1)

In [23]:
avocado.stack().reset_index().rename(columns = {'level_0':'ID','level_1':'variable',0:'value'})

           ID      variable             value
0           0          Date        2015-12-27
1           0  AveragePrice              1.33
2           0  Total Volume           64236.6
3           0          4046           1036.74
4           0          4225           54454.8
5           0          4770             48.16
6           0    Total Bags           8696.87
7           0    Small Bags           8603.62
8           0    Large Bags             93.25
9           0   XLarge Bags                 0
10          0          type      conventional
11          0          year              2015
12          0        region            Albany
13          1          Date        2015-12-20
14          1  AveragePrice              1.35
15          1  Total Volume             54877
16          1          4046            674.28
17          1          4225           44638.8
18          1          4770             58.33
19          1    Total Bags           9505.56
20          1    Small Bags           9408.07
21          1    Large Bags             97.49
22          1   XLarge Bags                 0
23          1          type      conventional
24          1          year              2015
25          1        region            Albany
26          2          Date        2015-12-13
27          2  AveragePrice              0.93
28          2  Total Volume            118220
29          2          4046             794.7
...       ...           ...               ...
237207  18246   XLarge Bags                 0
237208  18246          type           organic
237209  18246          year              2018
237210  18246        region  WestTexNewMexico
237211  18247          Date        2018-01-14
237212  18247  AveragePrice              1.93
237213  18247  Total Volume           16205.2
237214  18247          4046           1527.63
237215  18247          4225           2981.04
237216  18247          4770            727.01
237217  18247    Total Bags           10969.5
237218  18247    Small Bags           10919.5
237219  18247    Large Bags                50
237220  18247   XLarge Bags                 0
237221  18247          type           organic
237222  18247          year              2018
237223  18247        region  WestTexNewMexico
237224  18248          Date        2018-01-07
237225  18248  AveragePrice              1.62
237226  18248  Total Volume           17489.6
237227  18248          4046           2894.77
237228  18248          4225           2356.13
237229  18248          4770            224.53
237230  18248    Total Bags           12014.1
237231  18248    Small Bags           11988.1
237232  18248    Large Bags             26.01
237233  18248   XLarge Bags                 0
237234  18248          type           organic
237235  18248          year              2018
237236  18248        region  WestTexNewMexico

[237237 rows x 3 columns]

In [104]:
import pandas as pd
import numpy as np
df = pd.DataFrame()

names = ['Gandalf',
         'Gimli',
         'Frodo',
         'Legolas',
         'Bilbo',
         'Sam',
         'Pippin',
         'Boromir',
         'Aragorn',
         'Galadriel',
         'Meriadoc',
        'Lily']
types = ['Wizard',
         'Dwarf',
         'Hobbit',
         'Elf',
         'Hobbit',
         'Hobbit',
         'Hobbit',
         'Man',
         'Man',
         'Elf',
         'Hobbit',
        'Hobbit']
magic = [10, 1, 4, 6, 4, 2, 0, 0, 2, 9, 0, np.NaN]
aggression = [7, 10, 2, 5, 1, 6, 3, 8, 7, 2, 4, np.NaN ]
stealth = [8, 2, 5, 10, 5, 4 ,5, 3, 9, 10, 6, np.NaN]


df['name'] = names
df['type'] = types
df['magic_power'] = magic
df['aggression'] = aggression
df['stealth'] = stealth

In [105]:
df

         name    type  magic_power  aggression  stealth
0     Gandalf  Wizard         10.0         7.0      8.0
1       Gimli   Dwarf          1.0        10.0      2.0
2       Frodo  Hobbit          4.0         2.0      5.0
3     Legolas     Elf          6.0         5.0     10.0
4       Bilbo  Hobbit          4.0         1.0      5.0
5         Sam  Hobbit          2.0         6.0      4.0
6      Pippin  Hobbit          0.0         3.0      5.0
7     Boromir     Man          0.0         8.0      3.0
8     Aragorn     Man          2.0         7.0      9.0
9   Galadriel     Elf          9.0         2.0     10.0
10   Meriadoc  Hobbit          0.0         4.0      6.0
11       Lily  Hobbit          NaN         NaN      NaN

In [106]:
df.set_index(['type','name'])

                  magic_power  aggression  stealth
type   name
Wizard Gandalf           10.0         7.0      8.0
Dwarf  Gimli              1.0        10.0      2.0
Hobbit Frodo              4.0         2.0      5.0
Elf    Legolas            6.0         5.0     10.0
Hobbit Bilbo              4.0         1.0      5.0
       Sam                2.0         6.0      4.0
       Pippin             0.0         3.0      5.0
Man    Boromir            0.0         8.0      3.0
       Aragorn            2.0         7.0      9.0
Elf    Galadriel          9.0         2.0     10.0
Hobbit Meriadoc           0.0         4.0      6.0
       Lily               NaN         NaN      NaN

In [107]:
df.set_index(['type']).stack()

type
Wizard  name             Gandalf
        magic_power           10
        aggression             7
        stealth                8
Dwarf   name               Gimli
        magic_power            1
        aggression            10
        stealth                2
Hobbit  name               Frodo
        magic_power            4
        aggression             2
        stealth                5
Elf     name             Legolas
        magic_power            6
        aggression             5
        stealth               10
Hobbit  name               Bilbo
        magic_power            4
        aggression             1
        stealth                5
        name                 Sam
        magic_power            2
        aggression             6
        stealth                4
        name              Pippin
        magic_power            0
        aggression             3
        stealth                5
Man     name             Boromir
        magic_power            0
        aggression             8
        stealth                3
        name             Aragorn
        magic_power            2
        aggression             7
        stealth                9
Elf     name           Galadriel
        magic_power            9
        aggression             2
        stealth               10
Hobbit  name            Meriadoc
        magic_power            0
        aggression             4
        stealth                6
        name                Lily
dtype: object

In [108]:
df.set_index(['type']).stack().reset_index()

      type      level_1          0
0   Wizard         name    Gandalf
1   Wizard  magic_power         10
2   Wizard   aggression          7
3   Wizard      stealth          8
4    Dwarf         name      Gimli
5    Dwarf  magic_power          1
6    Dwarf   aggression         10
7    Dwarf      stealth          2
8   Hobbit         name      Frodo
9   Hobbit  magic_power          4
10  Hobbit   aggression          2
11  Hobbit      stealth          5
12     Elf         name    Legolas
13     Elf  magic_power          6
14     Elf   aggression          5
15     Elf      stealth         10
16  Hobbit         name      Bilbo
17  Hobbit  magic_power          4
18  Hobbit   aggression          1
19  Hobbit      stealth          5
20  Hobbit         name        Sam
21  Hobbit  magic_power          2
22  Hobbit   aggression          6
23  Hobbit      stealth          4
24  Hobbit         name     Pippin
25  Hobbit  magic_power          0
26  Hobbit   aggression          3
27  Hobbit      stealth          5
28     Man         name    Boromir
29     Man  magic_power          0
30     Man   aggression          8
31     Man      stealth          3
32     Man         name    Aragorn
33     Man  magic_power          2
34     Man   aggression          7
35     Man      stealth          9
36     Elf         name  Galadriel
37     Elf  magic_power          9
38     Elf   aggression          2
39     Elf      stealth         10
40  Hobbit         name   Meriadoc
41  Hobbit  magic_power          0
42  Hobbit   aggression          4
43  Hobbit      stealth          6
44  Hobbit         name       Lily

In [109]:
df.set_index(['type']).stack().reset_index().rename(columns = {'level_0':'ID','level_1':'variable',0:'value'})

      type     variable      value
0   Wizard         name    Gandalf
1   Wizard  magic_power         10
2   Wizard   aggression          7
3   Wizard      stealth          8
4    Dwarf         name      Gimli
5    Dwarf  magic_power          1
6    Dwarf   aggression         10
7    Dwarf      stealth          2
8   Hobbit         name      Frodo
9   Hobbit  magic_power          4
10  Hobbit   aggression          2
11  Hobbit      stealth          5
12     Elf         name    Legolas
13     Elf  magic_power          6
14     Elf   aggression          5
15     Elf      stealth         10
16  Hobbit         name      Bilbo
17  Hobbit  magic_power          4
18  Hobbit   aggression          1
19  Hobbit      stealth          5
20  Hobbit         name        Sam
21  Hobbit  magic_power          2
22  Hobbit   aggression          6
23  Hobbit      stealth          4
24  Hobbit         name     Pippin
25  Hobbit  magic_power          0
26  Hobbit   aggression          3
27  Hobbit      stealth          5
28     Man         name    Boromir
29     Man  magic_power          0
30     Man   aggression          8
31     Man      stealth          3
32     Man         name    Aragorn
33     Man  magic_power          2
34     Man   aggression          7
35     Man      stealth          9
36     Elf         name  Galadriel
37     Elf  magic_power          9
38     Elf   aggression          2
39     Elf      stealth         10
40  Hobbit         name   Meriadoc
41  Hobbit  magic_power          0
42  Hobbit   aggression          4
43  Hobbit      stealth          6
44  Hobbit         name       Lily

In [110]:
urls = pd.read_csv('data/lotr_wikipedia.csv')

In [111]:
df

         name    type  magic_power  aggression  stealth
0     Gandalf  Wizard         10.0         7.0      8.0
1       Gimli   Dwarf          1.0        10.0      2.0
2       Frodo  Hobbit          4.0         2.0      5.0
3     Legolas     Elf          6.0         5.0     10.0
4       Bilbo  Hobbit          4.0         1.0      5.0
5         Sam  Hobbit          2.0         6.0      4.0
6      Pippin  Hobbit          0.0         3.0      5.0
7     Boromir     Man          0.0         8.0      3.0
8     Aragorn     Man          2.0         7.0      9.0
9   Galadriel     Elf          9.0         2.0     10.0
10   Meriadoc  Hobbit          0.0         4.0      6.0
11       Lily  Hobbit          NaN         NaN      NaN

In [112]:
pd.concat([df,urls],axis=1)

,name,type,magic_power,aggression,stealth,name,url
0,Gandalf,Wizard,10.0,7.0,8.0,Gandalf,https://en.wikipedia.org/wiki/Gandalf
1,Gimli,Dwarf,1.0,10.0,2.0,Gimli,https://en.wikipedia.org/wiki/Gimli_(Middle-ea...
2,Frodo,Hobbit,4.0,2.0,5.0,Frodo,https://en.wikipedia.org/wiki/Frodo_Baggins
3,Legolas,Elf,6.0,5.0,10.0,Legolas,https://en.wikipedia.org/wiki/Legolas
4,Bilbo,Hobbit,4.0,1.0,5.0,Bilbo,https://en.wikipedia.org/wiki/Bilbo_Baggins
5,Sam,Hobbit,2.0,6.0,4.0,Sam,https://en.wikipedia.org/wiki/Samwise_Gamgee
6,Pippin,Hobbit,0.0,3.0,5.0,Pippin,https://en.wikipedia.org/wiki/Peregrin_Took
7,Boromir,Man,0.0,8.0,3.0,Boromir,https://en.wikipedia.org/wiki/Boromir
8,Aragorn,Man,2.0,7.0,9.0,Aragorn,https://en.wikipedia.org/wiki/Aragorn
9,Galadriel,Elf,9.0,2.0,10.0,Galadriel,https://en.wikipedia.org/wiki/Galadriel
10,Meriadoc,Hobbit,0.0,4.0,6.0,Meriadoc,https://en.wikipedia.org/wiki/Meriadoc_Brandybuck
11,Lily,Hobbit,NaN,NaN,NaN,NaN,NaN

In [115]:
urls_wrong_order = pd.read_csv('data/lotr_wikipedia_wrong_order.csv')

In [116]:
pd.concat([df,urls_wrong_order],axis=1)

,name,type,magic_power,aggression,stealth,name,url
0,Gandalf,Wizard,10.0,7.0,8.0,Gimli,https://en.wikipedia.org/wiki/Gimli_(Middle-ea...
1,Gimli,Dwarf,1.0,10.0,2.0,Frodo,https://en.wikipedia.org/wiki/Frodo_Baggins
2,Frodo,Hobbit,4.0,2.0,5.0,Legolas,https://en.wikipedia.org/wiki/Legolas
3,Legolas,Elf,6.0,5.0,10.0,Bilbo,https://en.wikipedia.org/wiki/Bilbo_Baggins
4,Bilbo,Hobbit,4.0,1.0,5.0,Sam,https://en.wikipedia.org/wiki/Samwise_Gamgee
5,Sam,Hobbit,2.0,6.0,4.0,Pippin,https://en.wikipedia.org/wiki/Peregrin_Took
6,Pippin,Hobbit,0.0,3.0,5.0,Boromir,https://en.wikipedia.org/wiki/Boromir
7,Boromir,Man,0.0,8.0,3.0,Aragorn,https://en.wikipedia.org/wiki/Aragorn
8,Aragorn,Man,2.0,7.0,9.0,Galadriel,https://en.wikipedia.org/wiki/Galadriel
9,Galadriel,Elf,9.0,2.0,10.0,Meriadoc,https://en.wikipedia.org/wiki/Meriadoc_Brandybuck
10,Meriadoc,Hobbit,0.0,4.0,6.0,Gandalf,https://en.wikipedia.org/wiki/Gandalf
11,Lily,Hobbit,NaN,NaN,NaN,NaN,NaN

In [117]:
df_names = df.set_index('name')

In [118]:
df_names

             type  magic_power  aggression  stealth
name
Gandalf    Wizard         10.0         7.0      8.0
Gimli       Dwarf          1.0        10.0      2.0
Frodo      Hobbit          4.0         2.0      5.0
Legolas       Elf          6.0         5.0     10.0
Bilbo      Hobbit          4.0         1.0      5.0
Sam        Hobbit          2.0         6.0      4.0
Pippin     Hobbit          0.0         3.0      5.0
Boromir       Man          0.0         8.0      3.0
Aragorn       Man          2.0         7.0      9.0
Galadriel     Elf          9.0         2.0     10.0
Meriadoc   Hobbit          0.0         4.0      6.0
Lily       Hobbit          NaN         NaN      NaN

In [119]:
urls_wrong_order_names = urls_wrong_order.set_index('name')

In [120]:
df_names.join(urls_wrong_order_names)

,type,magic_power,aggression,stealth,url
name,,,,,
Gandalf,Wizard,10.0,7.0,8.0,https://en.wikipedia.org/wiki/Gandalf
Gimli,Dwarf,1.0,10.0,2.0,https://en.wikipedia.org/wiki/Gimli_(Middle-ea...
Frodo,Hobbit,4.0,2.0,5.0,https://en.wikipedia.org/wiki/Frodo_Baggins
Legolas,Elf,6.0,5.0,10.0,https://en.wikipedia.org/wiki/Legolas
Bilbo,Hobbit,4.0,1.0,5.0,https://en.wikipedia.org/wiki/Bilbo_Baggins
Sam,Hobbit,2.0,6.0,4.0,https://en.wikipedia.org/wiki/Samwise_Gamgee
Pippin,Hobbit,0.0,3.0,5.0,https://en.wikipedia.org/wiki/Peregrin_Took
Boromir,Man,0.0,8.0,3.0,https://en.wikipedia.org/wiki/Boromir
Aragorn,Man,2.0,7.0,9.0,https://en.wikipedia.org/wiki/Aragorn
Galadriel,Elf,9.0,2.0,10.0,https://en.wikipedia.org/wiki/Galadriel
Meriadoc,Hobbit,0.0,4.0,6.0,https://en.wikipedia.org/wiki/Meriadoc_Brandybuck
Lily,Hobbit,NaN,NaN,NaN,NaN

In [121]:
df.head()

      name    type  magic_power  aggression  stealth
0  Gandalf  Wizard         10.0         7.0      8.0
1    Gimli   Dwarf          1.0        10.0      2.0
2    Frodo  Hobbit          4.0         2.0      5.0
3  Legolas     Elf          6.0         5.0     10.0
4    Bilbo  Hobbit          4.0         1.0      5.0

In [122]:
urls_wrong_order.head()

      name                                                url
0    Gimli  https://en.wikipedia.org/wiki/Gimli_(Middle-ea...
1    Frodo        https://en.wikipedia.org/wiki/Frodo_Baggins
2  Legolas              https://en.wikipedia.org/wiki/Legolas
3    Bilbo        https://en.wikipedia.org/wiki/Bilbo_Baggins
4      Sam       https://en.wikipedia.org/wiki/Samwise_Gamgee

In [123]:
urls_wrong_order['name']

0         Gimli
1         Frodo
2       Legolas
3         Bilbo
4           Sam
5        Pippin
6       Boromir
7       Aragorn
8     Galadriel
9      Meriadoc
10      Gandalf
Name: name, dtype: object

In [124]:
df['name']

0       Gandalf
1         Gimli
2         Frodo
3       Legolas
4         Bilbo
5           Sam
6        Pippin
7       Boromir
8       Aragorn
9     Galadriel
10     Meriadoc
11         Lily
Name: name, dtype: object

In [125]:
df.join(urls_wrong_order,on='name')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [126]:
df.join(urls_wrong_order.set_index('name'),on='name')

,name,type,magic_power,aggression,stealth,url
0,Gandalf,Wizard,10.0,7.0,8.0,https://en.wikipedia.org/wiki/Gandalf
1,Gimli,Dwarf,1.0,10.0,2.0,https://en.wikipedia.org/wiki/Gimli_(Middle-ea...
2,Frodo,Hobbit,4.0,2.0,5.0,https://en.wikipedia.org/wiki/Frodo_Baggins
3,Legolas,Elf,6.0,5.0,10.0,https://en.wikipedia.org/wiki/Legolas
4,Bilbo,Hobbit,4.0,1.0,5.0,https://en.wikipedia.org/wiki/Bilbo_Baggins
5,Sam,Hobbit,2.0,6.0,4.0,https://en.wikipedia.org/wiki/Samwise_Gamgee
6,Pippin,Hobbit,0.0,3.0,5.0,https://en.wikipedia.org/wiki/Peregrin_Took
7,Boromir,Man,0.0,8.0,3.0,https://en.wikipedia.org/wiki/Boromir
8,Aragorn,Man,2.0,7.0,9.0,https://en.wikipedia.org/wiki/Aragorn
9,Galadriel,Elf,9.0,2.0,10.0,https://en.wikipedia.org/wiki/Galadriel
10,Meriadoc,Hobbit,0.0,4.0,6.0,https://en.wikipedia.org/wiki/Meriadoc_Brandybuck
11,Lily,Hobbit,NaN,NaN,NaN,NaN

In [127]:
urls_extras = pd.read_csv("data/lotr_wikipedia_extras.csv")

In [129]:
urls_extras

        name                                      url
0  Treebeard  https://en.wikipedia.org/wiki/Treebeard
1     Elrond     https://en.wikipedia.org/wiki/Elrond

In [131]:
urls_complete = pd.concat([urls,urls_extras])

In [132]:
df.join(urls_complete.set_index('name'),on='name')

,name,type,magic_power,aggression,stealth,url
0,Gandalf,Wizard,10.0,7.0,8.0,https://en.wikipedia.org/wiki/Gandalf
1,Gimli,Dwarf,1.0,10.0,2.0,https://en.wikipedia.org/wiki/Gimli_(Middle-ea...
2,Frodo,Hobbit,4.0,2.0,5.0,https://en.wikipedia.org/wiki/Frodo_Baggins
3,Legolas,Elf,6.0,5.0,10.0,https://en.wikipedia.org/wiki/Legolas
4,Bilbo,Hobbit,4.0,1.0,5.0,https://en.wikipedia.org/wiki/Bilbo_Baggins
5,Sam,Hobbit,2.0,6.0,4.0,https://en.wikipedia.org/wiki/Samwise_Gamgee
6,Pippin,Hobbit,0.0,3.0,5.0,https://en.wikipedia.org/wiki/Peregrin_Took
7,Boromir,Man,0.0,8.0,3.0,https://en.wikipedia.org/wiki/Boromir
8,Aragorn,Man,2.0,7.0,9.0,https://en.wikipedia.org/wiki/Aragorn
9,Galadriel,Elf,9.0,2.0,10.0,https://en.wikipedia.org/wiki/Galadriel
10,Meriadoc,Hobbit,0.0,4.0,6.0,https://en.wikipedia.org/wiki/Meriadoc_Brandybuck
11,Lily,Hobbit,NaN,NaN,NaN,NaN

In [134]:
df.join(urls_complete.set_index('name'),on='name',how='right')

,name,type,magic_power,aggression,stealth,url
0,Gandalf,Wizard,10.0,7.0,8.0,https://en.wikipedia.org/wiki/Gandalf
1,Gimli,Dwarf,1.0,10.0,2.0,https://en.wikipedia.org/wiki/Gimli_(Middle-ea...
2,Frodo,Hobbit,4.0,2.0,5.0,https://en.wikipedia.org/wiki/Frodo_Baggins
3,Legolas,Elf,6.0,5.0,10.0,https://en.wikipedia.org/wiki/Legolas
4,Bilbo,Hobbit,4.0,1.0,5.0,https://en.wikipedia.org/wiki/Bilbo_Baggins
5,Sam,Hobbit,2.0,6.0,4.0,https://en.wikipedia.org/wiki/Samwise_Gamgee
6,Pippin,Hobbit,0.0,3.0,5.0,https://en.wikipedia.org/wiki/Peregrin_Took
7,Boromir,Man,0.0,8.0,3.0,https://en.wikipedia.org/wiki/Boromir
8,Aragorn,Man,2.0,7.0,9.0,https://en.wikipedia.org/wiki/Aragorn
9,Galadriel,Elf,9.0,2.0,10.0,https://en.wikipedia.org/wiki/Galadriel
10,Meriadoc,Hobbit,0.0,4.0,6.0,https://en.wikipedia.org/wiki/Meriadoc_Brandybuck
11,Treebeard,NaN,NaN,NaN,NaN,https://en.wikipedia.org/wiki/Treebeard
11,Elrond,NaN,NaN,NaN,NaN,https://en.wikipedia.org/wiki/Elrond

In [135]:
df.join(urls_complete.set_index('name'),on='name',how='outer')

,name,type,magic_power,aggression,stealth,url
0,Gandalf,Wizard,10.0,7.0,8.0,https://en.wikipedia.org/wiki/Gandalf
1,Gimli,Dwarf,1.0,10.0,2.0,https://en.wikipedia.org/wiki/Gimli_(Middle-ea...
2,Frodo,Hobbit,4.0,2.0,5.0,https://en.wikipedia.org/wiki/Frodo_Baggins
3,Legolas,Elf,6.0,5.0,10.0,https://en.wikipedia.org/wiki/Legolas
4,Bilbo,Hobbit,4.0,1.0,5.0,https://en.wikipedia.org/wiki/Bilbo_Baggins
5,Sam,Hobbit,2.0,6.0,4.0,https://en.wikipedia.org/wiki/Samwise_Gamgee
6,Pippin,Hobbit,0.0,3.0,5.0,https://en.wikipedia.org/wiki/Peregrin_Took
7,Boromir,Man,0.0,8.0,3.0,https://en.wikipedia.org/wiki/Boromir
8,Aragorn,Man,2.0,7.0,9.0,https://en.wikipedia.org/wiki/Aragorn
9,Galadriel,Elf,9.0,2.0,10.0,https://en.wikipedia.org/wiki/Galadriel
10,Meriadoc,Hobbit,0.0,4.0,6.0,https://en.wikipedia.org/wiki/Meriadoc_Brandybuck
11,Lily,Hobbit,NaN,NaN,NaN,NaN
11,Treebeard,NaN,NaN,NaN,NaN,https://en.wikipedia.org/wiki/Treebeard
11,Elrond,NaN,NaN,NaN,NaN,https://en.wikipedia.org/wiki/Elrond

In [136]:
df.join(urls_complete.set_index('name'),on='name',how='inner')

,name,type,magic_power,aggression,stealth,url
0,Gandalf,Wizard,10.0,7.0,8.0,https://en.wikipedia.org/wiki/Gandalf
1,Gimli,Dwarf,1.0,10.0,2.0,https://en.wikipedia.org/wiki/Gimli_(Middle-ea...
2,Frodo,Hobbit,4.0,2.0,5.0,https://en.wikipedia.org/wiki/Frodo_Baggins
3,Legolas,Elf,6.0,5.0,10.0,https://en.wikipedia.org/wiki/Legolas
4,Bilbo,Hobbit,4.0,1.0,5.0,https://en.wikipedia.org/wiki/Bilbo_Baggins
5,Sam,Hobbit,2.0,6.0,4.0,https://en.wikipedia.org/wiki/Samwise_Gamgee
6,Pippin,Hobbit,0.0,3.0,5.0,https://en.wikipedia.org/wiki/Peregrin_Took
7,Boromir,Man,0.0,8.0,3.0,https://en.wikipedia.org/wiki/Boromir
8,Aragorn,Man,2.0,7.0,9.0,https://en.wikipedia.org/wiki/Aragorn
9,Galadriel,Elf,9.0,2.0,10.0,https://en.wikipedia.org/wiki/Galadriel
10,Meriadoc,Hobbit,0.0,4.0,6.0,https://en.wikipedia.org/wiki/Meriadoc_Brandybuck